{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<body class="home-page">
    <h1>Welcome to the Dashboard!</h1>
    <!-- Các thành phần khác -->
</body>
<div class="dashboard">
    <!-- Widget Container for Dataset Information -->
    <div class="widget-container">
        <div class="widget">
            <h3>Tập dữ liệu</h3>
            <p>THPTQG_2022_processed.csv</p> <!-- Display number of rows in dataset -->
        </div>
        <div class="widget">
            <h3>Nguồn</h3>
            <p>Kaggle</p> <!-- Display number of columns in dataset -->
        </div>
        <div class="widget">
            <h3>Số lượng cột</h3>
            <p>{{ num_columns }}</p> <!-- Display names of columns -->
        </div>
        <div class="widget">
            <h3>Số lượng dòng</h3>
            <p>{{ num_rows }}</p> <!-- Display information about missing values -->
        </div>
    </div>

    <!-- Additional Information about Dataset -->
    <div class="dataset-info">
        <h3>Tổng quan về Dữ liệu</h3>
        <p>
            Bộ dữ liệu này chứa thông tin về điểm thi của các môn học trong kỳ thi THPT 2022.
            Bộ dữ liệu bao gồm các cột như <strong>{{ column_names }}</strong>,
            đại diện cho các môn học như Toán, Văn, Vật Lý và nhiều môn khác.
        </p>
    </div>
</div>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% endblock %}
