{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<body class="home-page">
    <h1>Welcome to the Dashboard!</h1>
    <!-- Các thành phần khác -->
</body>
<div class="dashboard">
    <!-- Widget Container for Dataset Information -->
    <div class="widget-container">
        <div class="widget">
            <h3>Name Of Datasets</h3>
            <p>THPTQG_2022_processed.csv</p> <!-- Display number of rows in dataset -->
        </div>
        <div class="widget">
            <h3>Source</h3>
            <p>Kaggle</p> <!-- Display number of columns in dataset -->
        </div>
        <div class="widget">
            <h3>Numbers Of Columns</h3>
            <p>{{ num_columns }}</p> <!-- Display names of columns -->
        </div>
        <div class="widget">
            <h3>Numbers Of Rows</h3>
            <p>{{ num_rows }}</p> <!-- Display information about missing values -->
        </div>
    </div>

    <!-- Additional Information about Dataset -->
    <div class="dataset-info">
        <h3>Dataset Overview</h3>
        <p>
            This dataset contains information on various subjects' exam scores for the THPT 2022 exam. 
            The dataset includes columns such as <strong>{{ column_names }}</strong>, 
            representing subjects like Mathematics, Literature, Physics, and more.
        </p>
    </div>
</div>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% endblock %}
